<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Getting Started</title>
  <!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Hello, ' + ${name} + '!'" />
</body>-->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content = "IE=edge" />
    <meta name = "viewport" content="width=device-width", initial-scale=1.0 />
    <link rel="stylesheet" href = "./style.css" />
  </head>

  <body>
    <div class="container">
      <div class="bar one">
        <div>"Commits"</div>
      </div>

      <div class="bar two">
        <div>"Contribs"</div>
      </div>

      <div class="bar three">
        <div>"Anything"</div>
      </div>

      <ul class="v-meter">
        <li><div>5</div></li>
        <li><div>4</div></li>
        <li><div>3</div></li>
        <li><div>2</div></li>
        <li><div>1</div></li>
      </ul>

    </div>
    <div class="header">
      <div class="inner_header">
        <div class="logo_container">
          <h1>Contributor Performance Measurer</h1>
        </div>
      </div>
    </div>
  </body>
</html>
